.ant-picker{
    width: 100% !important;
}
.modal-dialog {
    transform: translate(0, 0%) !important; 
}
.modal {
    z-index: 3 !important;
}
.modal-content{
    z-index: 3 !important;
}
.fade {
    &.modal-backdrop{
        z-index: 2 !important;
    }
} 
p{
    font-size: 14px  !important;
    margin-bottom: 0 !important;
}